.mainFeedFilter8{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap:1%;
    margin-top: 1%;
}
.activefilter82{
    border-bottom: 3.5px solid #3f8f22 !important;
}
.mainFeedFilter8 > .mainFeedFilter8__feed,
.mainFeedfilter8__recipe,.mainFeedFilter8__foodservice{
    color: gray;
    font-weight: 700 !important;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:424px){
    .mainFeedFilter8 > h3{
        font-size: 16px !important;
    }
}
@media only screen and (max-width:361px){
    .mainFeedFilter8 > h3{
        font-size: 12px !important;
    }
}
@media only screen 
and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter8 > h3{
        font-size: 28px !important;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter8 > h3{
        font-size:30px !important;
    }
  }
  @media only screen 
  and (min-width: 1366px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:landscape){
    .mainFeedFilter8 > h3{
        font-size:17px !important;
    }
}
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter8 > h3{
        font-size:32px !important;
    }
  }
@media only screen and (min-width:1290px) and (max-width:1921px){
    .mainFeedFilter8 > h3{
        font-size: 34px !important;
    }
}