.mainFeedFilters2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    grid-gap:1%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
.mainFeedFilters21{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr ;
    justify-content: center;
    grid-gap:1%;
    margin-top: 3%;
}
.mainFeedFilters21 >img{
    width: 25px;
    height: 25px;
}
.activefilter22{
    border-bottom: 3.5px solid #3f8f22 !important;
}
.mainFeedFilters2__allChef{
    color: gray;
    text-decoration: none;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
}
.mainFeedFilters2__followed{
    color: gray;
    text-decoration: none;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:424px){
    .mainFeedFilters2 > h3{
        font-size: 16px ;
    }
}
@media only screen and (max-width:361px){
    .mainFeedFilters2 > h3{
        font-size: 12px ;
    }
}
@media only screen 
and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters2__allChef,
    .mainFeedFilters2__followed{
        font-size: 22px ;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters2__allChef,
    .mainFeedFilters2__followed{
        font-size:30px ;
    }
  }
  @media only screen 
  and (min-width: 1366px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:landscape){
    .mainFeedFilters2__allChef,
    .mainFeedFilters2__followed{
        font-size:17px ;
    }
}
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters2__allChef,
    .mainFeedFilters2__followed{
       
        font-size: 44px !important;
        margin-top: 3%;
    }
  }
@media only screen and (min-width:1400px) and (max-width:1921px){
    .mainFeedFilters2__allChef,
    .mainFeedFilters2__followed{
        font-size: 24px ;
    }
}