.feed{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
    margin-top: 3.5%;
}
.feed__left{
    flex: 0.29;
}
.feed__center{
    flex: 0.42;
    margin: 0 5%;
}
.feed__right{
    flex: 0.29;
}