.chefAds__heading{
    display: flex;
    justify-content: center;
}
.chefAds__heading > h3{
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(117, 117, 117);
    font-size: 22px;
}
.chefAds__heading > img{
    width: 25px !important;
}

@media only screen and (max-width:936px){
    .chefAds__heading > h3{
        font-size: 16px;
    }
}

.chefAds__profile{
    margin-top: 10%;
}