.userSignin {
  background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");
  height: 80%;
  width: 30%;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.i-am-a-chef-div {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2em;
}

.i-am-a-chef {
  background-color: #3f8f22;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 0.8em 1.2em;
  border-radius: 30px;
  text-align: center;
  margin-top: 2em;
  cursor: pointer;
}
.yellow-arrow {
  width: 1em;
  height: 1em;
}

.sign-in-up {
  margin: 10px;
  padding: 2em;
  padding-bottom: 1em;
}
.sign-in-up h2 {
  margin: 10px;
}

.form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form label {
  padding: 1em 0;
}

.form input {
  width: 90%;
  padding: 1em;
  border: none;
  height: 4em;
  outline: none;
  font-size: 1em;
}

.email-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.email-div label {
  margin-right: auto;
  margin-left: 5em;
}
.email-div input {
  background-image: url("../../assets//svg//Email-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 1em;
  background-position-y: center;
  padding-left: 5em;
  border-radius: 30px 0 0 30px;
}

.password-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.password-div label {
  margin-right: auto;
  margin-left: 1em;
}
.password-div input {
  background-image: url("../../assets/svg/Password-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 1em;
  background-position-y: center;
  padding-left: 5em;
  border-radius: 0 30px 30px 0;
}
.password-div-pass {
  width: 100%;
  position: relative;
  display: inline-block;
}

.show {
  background-image: url("../../assets/svg/Show-password-icon.svg");
}
.hide {
  background-image: url("../../assets/svg/hide\ -password-\ icon.svg");
}

.tooglePassword {
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  margin-top: 3%;
  margin-left: -24%;
  cursor: pointer;
}
.keep-me-sign-in-and-submit {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}
.keep-me-sign-in {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
  margin-left: 1em;
}
.keep-me-sign-in input {
  height: 2em;
  width: 2em;
  display: inline-block;
  border: 1px solid black;
  background-color: transparent !important;
}
.keep-me-sign-in span {
  width: 100%;
  padding-left: 1em;
  color: white;
}
.continue {
  background-color: #b62414;
  color: white;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 2em;
  cursor: pointer;
}
.sign-in-with-google-and-forget-password {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  padding: 0 2em;
}
.sign-in-with-social-media {
  width: 50%;
  display: flex;
}
.pd-1 {
  padding: 0 5px;
  cursor: pointer;
}
.forgot-password {
  color: #ffcf54;
  cursor: pointer;
}

.Privicy-instructions {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

.fb-blue .b {
  fill: #475993 !important;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}
