.feedStar{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    width: 85%;
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 3.5%;
    
    padding-top: 70px;
}
.feedStar__container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    grid-gap:1%;
    height: 84vh;
    padding-bottom: 60px;
}

.feedStar__left,.feedStar__right,.feedStar__center{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.feedStar__left::-webkit-scrollbar-track,
.feedStar__center::-webkit-scrollbar-track,
.feedStar__right::-webkit-scrollbar-track{
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
      margin-top: 18px;
  }
  
  .feedStar__left::-webkit-scrollbar,
  .feedStar__center::-webkit-scrollbar,
  .feedStar__right::-webkit-scrollbar{
    width: 6px;
      background-color: #fff;
  }
  .feedStar__left::-webkit-scrollbar-thumb,
.feedStar__center::-webkit-scrollbar-thumb,
.feedStar__right::-webkit-scrollbar-thumb{
    border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: rgba(105, 105, 105, 0.109);
  }

.feedStar__left > p , .feedStar__center > p , .feedStar__right>p{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

@media screen and (max-width:1000px){
    .feedStar__container{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .feedStar__left,.feedStar__right{
        display: none;
    }
    .feedStar__left::-webkit-scrollbar-track,
.feedStar__center::-webkit-scrollbar-track,
.feedStar__right::-webkit-scrollbar-track{
      display: none;
  }
  
  .feedStar__left::-webkit-scrollbar,
  .feedStar__center::-webkit-scrollbar,
  .feedStar__right::-webkit-scrollbar{
    display: none;
  }
  .feedStar__left::-webkit-scrollbar-thumb,
.feedStar__center::-webkit-scrollbar-thumb,
.feedStar__right::-webkit-scrollbar-thumb{
    display: none;
  }

} 
@media screen and (max-width:604px){
    .feedStar{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 90px;
    }
    .feedStar__container{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .feedStar__container{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .feedStar__left,.feedStar__right{
        display: none;
    }
    .feedStar__left::-webkit-scrollbar-track,
.feedStar__center::-webkit-scrollbar-track,
.feedStar__right::-webkit-scrollbar-track{
      display: none;
  }
  
  .feedStar__left::-webkit-scrollbar,
  .feedStar__center::-webkit-scrollbar,
  .feedStar__right::-webkit-scrollbar{
    display: none;
  }
  .feedStar__left::-webkit-scrollbar-thumb,
.feedStar__center::-webkit-scrollbar-thumb,
.feedStar__right::-webkit-scrollbar-thumb{
    display: none;
  }
}
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .feedStar__container{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .feedStar__left,.feedStar__right{
        display: none;
    }
    .feedStar__left::-webkit-scrollbar-track,
.feedStar__center::-webkit-scrollbar-track,
.feedStar__right::-webkit-scrollbar-track{
      display: none;
  }
  
  .feedStar__left::-webkit-scrollbar,
  .feedStar__center::-webkit-scrollbar,
  .feedStar__right::-webkit-scrollbar{
    display: none;
  }
  .feedStar__left::-webkit-scrollbar-thumb,
.feedStar__center::-webkit-scrollbar-thumb,
.feedStar__right::-webkit-scrollbar-thumb{
    display: none;
  }
}
