.mainNotifications__header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.mainNotifications__header >img {
    width: 20px;
    height: 20px;
}
.mainNotifications__container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-top: 2%;
}
.mainNotifications__user{
    display: flex;
    justify-content: space-between;
}
.mainNotifications__userLeft > p{
    margin-top: 3%;
    color: gray;
    font-weight: 600;
}

.mainNotifications__userRight >img {
    width: 20px;
    height: 20px;
    float: right;
}

@media only screen and (max-width:604px){
    .mainNotifications__header{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .mainNotifications__container{
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media only screen and (max-width:500px){
    .mainNotifications__userLeft{
        margin-left: 2%;
    }
}

@media only screen and (max-width:412px){
    .mainNotifications__userLeft>h3{
        font-size: 16px;
    }
    .mainNotifications__userRight>h3{
        font-size: 16px;

    }
    .mainNotifications__userRight>img{
        width: 18px;
        height: 18px;
        margin-top: 2%;
    }
}

@media only screen and (max-width:350px){
    .mainNotifications__userLeft>h3{
        font-size: 14px;
    }
    .mainNotifications__userLeft>p{
        font-size: 10px;
    }
    .mainNotifications__userRight>h3{
        font-size: 14px;

    }
    .mainNotifications__userRight>img{
        width: 17px;
        height: 17px;
        margin-top: 2%;
    }
}

@media only screen and (max-width:300px){
    
    .mainNotifications__header{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
    }
    
    .mainNotifications__userLeft>h3{
        font-size: 12px;
    }
    .mainNotifications__userLeft.p{
        font-size: 9px;
    }
    .mainNotifications__userRight>h3{
        font-size: 12px;

    }
    .mainNotifications__userRight>img{
        width: 16px;
        height: 16px;
        margin-top: 2%;
    }
}