.mainNotifications__header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.mainNotifications__header >img {
    width: 20px;
    height: 20px;
}
.mainNotifications__container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-top: 2%;
}
.mainNotifications__user{
    display: flex;
    justify-content: space-between;
}
.mainNotifications__userLeft > p{
    margin-top: 3%;
    color: gray;
    font-weight: 600;
}

.mainNotifications__userRight >img {
    width: 20px;
    height: 20px;
    float: right;
}