.mainRateArea__header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.mainRateArea__header>h5{
    font-size: 20px;
}
.mainRateArea__header > img {
    width: 25px;
    height: 25px;
}
.mainRateArea__highlight{
    width: 100%;
    margin-top: 3%;

}
.mainRateArea__highlight > h5{
    color: #ffd54f;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding-right: 4%;
    letter-spacing: 0.1rem;
    text-shadow: 0px 0px 3px black;
}
.hours-rate{
    font-size: 12px !important;
}

.mainRateArea__rate{
    margin-top: 3%;
}
.mainRateArea__service
,.mainRateArea__food,
.mainRateArea__personality,
.mainRateArea__presentation{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.mainRateArea__service1{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 4%;
}
.rate-total-num{
    margin-right: -1.5%;
}
.mainRateArea__service>h5,
.mainRateArea__food>h5,
.mainRateArea__personality>h5,
.mainRateArea__presentation>h5,
.mainRateArea__score>h5,
.mainRateArea__service1>h5{
    font-size: 16px;
    color: #464040;
}
.mainRateArea__score>h5{
    color: #464040;
}
.mainRateArea__score{
    margin-left: 5%;
}
.mainRateArea__stars{
    color: rgb(212, 212, 0) !important;
}
.mainRateArea__rateArea{
    margin-top: 4%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
}
.mainRateArea__text{
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}
.mainRateArea__rateLikes{
    margin-bottom: 3%; 
    width: 100%;  
}
.chefRateAreaMain{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mainRateArea__highlight1{
    color: #469a09;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 2%;
}
.mainRateArea__commentLikes > p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 10px;
}
.reply-icon-rate{
    margin-bottom: 1rem;
}
.reply-icon-rate > img {
    width: 18px;
    height: 18px;

}
.mainRateArea__rateHeading{
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.mainRateArea__stars{
    display: flex;
    align-items: center;
}
.mainRateArea__star{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #469a09;
    color: white;
}
.mainRateArea__star1{
    font-size: 20px !important;
    color: white;
}

.mainRateArea__rateName>h5{
    padding-bottom: 0.8rem;
}

.heart-container-rate{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px 0px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.heart-container-rate > img{
    width: 22px;
    height: 22px;
}

.mainRateArea__rateLikes >p{
    font-size: 10px;
}

@media only screen and (max-width:440px){
    .mainRateArea__text{
        margin-top: 3rem;
    }
    .mainRateArea__text >p{
        font-size: 10px;
    }
    .heart-container-rate{
        margin: 0.5rem 0;
    }
    .mainRateArea__rateLikes{
        margin-top: 1rem;
    }
    .mainRateArea__rateLikes >p{
        width: 100%;
        font-size: 8px;
    }
}

@media only screen and (max-width:350px){
    .mainRateArea__service
    ,.mainRateArea__food,
    .mainRateArea__personality,
    .mainRateArea__presentation{
        display: grid;
        grid-template-columns: 2fr 1fr;
}
.mainRateArea__star{
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #469a09;
    color: white;
}
.mainRateArea__star1{
    font-size: 17px !important;
    color: white;
}

.mainRateArea__text{
    padding-top: 0.5rem;

}

}

