.mainChefProfile__container{
    display: grid;
    grid-template-columns: 1fr;
}
.coverPhoto{
    height: 220px;
}
.mainChefProfile__topArea{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
.mainChefProfile__topLeftArea >h5,
.mainChefProfile__topCenterArea>h5{
    font-size: 16px;
}
.mainChefProfile__topLeftArea{
    display: flex;
    align-items: center;
    width: 100%;
}
.mainChefProfile__topCenterArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mainChefProfile__topRightArea{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.mainChefProfile__topLeftArea > img{
    width: 25px;
    height: 25px;
    margin-right:0.5rem;
}
.mainChefProfile__topCenterArea>img{
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}
.mainChefProfile__topRightArea >img{
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.mainChefProfile__followers > img,
.mainChefProfile__stars > img {
    width: 20px;
    height: 20px;
}
.mainChefProfile__rating{
    display: flex;
    align-items: center;
}
.mainChefProfile__rating > img{
    width: 72%;
    margin-left: 1%;
}
.mainChefProfile__chefHeader{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
}
.mainChefProfile__profile>.mainChefProfile__avatar{
    width: 120px;
    height: 120px;
    margin-top: -3rem;
    box-shadow:  0 2px 6px 0 gray;
}
.mainChefProfile__location{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.mainChefProfile__location > img{
    width: 16px;
    height: 16px;
    margin-top: 2%;
}
.mainChefProfile__location > h5{
    margin-top: 2%;
    color: #3f8f22;
    margin-left: 2%;
}
.mainChefProfile__name{
    margin-left: 2%;
}
.mainChefProfile__name > p{
    margin-top: 2.6%;
}
.mainChefProfile__followStatus{
    float: right;

    margin-top: -3.2rem;
}
.mainChefProfile__followers{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mainChefProfile__followers > h5{
    margin-left: 2%;
}
.mainChefProfile__followStatus > h5{
    text-align: right;
    color: #3f8f22;
}
.mainChefProfile__rating{
    margin-top: 2%;
}
.mainChefProfile__rating > h5{
    font-size: 16px;
    color: #707070;
    font-weight: 800 !important;
}
.mainChefProfile__stars{
    margin-left: 1%;
}
.mainChefProfile__container >p {
    margin-top: 2%;
}
.mainChefProfile__picButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
    grid-gap:5%;
}
.mainChefProfile__picButtons > button {
    color: #707070;
    font-weight: 800;
}
.mainChefProfile__picButtons > button:hover{
    background-color: #d4d4d4;
    border-radius: 999px;
    box-shadow:  0 2px 6px 0 gray;
}
.mainChefProfile__allPhotos{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:0.5%;
    
}
.mainChefProfile__allPhotos1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0.5%;
    margin-top: 2%;
}

.mainChefProfile__allPhotos1 > img{
    width: 100%;
    height: auto;
}
.mainChefProfile__allInfo{
    margin-top: 2%;
    padding-left: 4rem;
    padding-right: 4rem;
}
.mainChefProfile__allInfo >p >span{
    font-size: 16px;
    font-weight: bold;
    padding-right: 1%;
}
.mainChefProfile__allInfo >p {
    font-size: 14px;
}
.mainChefProfile__dob{
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.mainChefProfile__allGender> h5,
.mainChefProfile__dob>h5{
    font-size: 16px;
}
.mainChefProfile__dob > p,
.mainChefProfile__allGender>p{
    margin-left: 3%;
}
.mainChefProfile__allGender{
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.mainChefProfile__allNotifications{
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.mainChefProfile__notifyDetail>h5{
    text-align: right;
}
.mainChefProfile__notifyDetail > img{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 1%;
}
.notify-line{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}