.ads{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    border: 2px solid silver;
    border-radius: 16px;
    width: auto;
    color: silver;
    margin-bottom: 3rem;
    margin-top: 1.4rem;
}
.ads > h3{
    display: flex;
    justify-content: center !important;
    align-items: center;
}