.mainSettings__container{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 3%;
    padding-right: 3%;
}
.notificationModal1{
    width: 25%;
    height: 25%;
    display: grid;
    place-items: center;
    margin-left: 40%;
    box-shadow: 1px 1px 6px 0px gray;
    margin-top: 16rem;
    border-radius: 32px;
    outline: none;
    border: 1px solid white;
    background-color: white;
}
.notification-modal-options{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.notification-modal-options > h5 {
    font-size: 20px;
    margin-right: 3%;
}
.notification-modal-options > input{
    width: 30px;
    height: 30px;
}
.notification-modal-options > img{
    width: 35px;
    margin-right: 3%;
    height: 35px;
}
.mainSettings__profile{
    display: grid;
    grid-template-columns: 15fr 1fr;
    align-items: center;
}
.mainSettings__profilePicture{
    display: flex;
    align-items: center;
}
.mainSettings__profilePicture > .mainSettings__avatar{
    height: 80px;
    width: 80px;
}
.mainSettings__name{
    margin-left: 2%;
    width: 100%;
}
.mainSettings__name >h4{
  padding: 1%;
}
.mainSettings__rightIcon{
    font-size: 38px !important;
    color: #3f8f22;
}
.mainSettings__notification{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 4%;
   margin-bottom: 2%;
   font-family: 'Montserrat','sans-serif';
}
.mainSettings__notifications{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.mainSettings__notification >img,
.mainSettings__notifications>img{
    width: 30px;
    height: 30px;
}
.mainSettings__notification > h4{
    margin-left: 3%;
    color: #5b5353;
}
.mainSettings__notifications > h4{
    margin-left: 3%;
    color: #5b5353;
}
.notify__icon, .help__icon,.language__icon,.theme__icon, .sharing__icon{
    color: #3f8f22 !important;
}
.rate__icon{
    color: #ffcf54 !important;
}
.mainSettings__divider{
    width: 90%;
    margin: 0 auto;
}
