.userForgotPassword{
    background: linear-gradient(184deg, white, #464040 92%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userForgotPassword__container{
    border-radius: 24px;
    width: 400px;
    background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

.userForgotPassword__header{
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    align-items: center;
    
}
.userForgotPassword__header > img {
    width: 30px;
    height: 20px;

}
.userForgotPassword__header > h4{
    display: flex;
    justify-content: center;
}
.userForgotPassword__input{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    float: right;
    align-items: flex-end;
}
.userForgotPassword__input > h5{
    display: flex;
    align-items: flex-start;
    width: 92%;
}
.userForgotPassword__input > input{
    width: 94%;
  padding: 0;
  margin-top: 1%;
  border: none;
  height: 2.6em;
  outline: none;
  font-size: 1em;
  margin-right: 1px;
  box-shadow:  0 2px 6px 0 gray;
  border: 1px solid silver;
  border-radius: 999px 0 0 999px;
  outline: none;
  background-image: url("../../assets/svg/at-sign.png");
  background-position: 3%;
  padding-left: 10%;
  background-repeat: no-repeat;
  background-size: 20px;
}
.userForgotPassword__button{
    display: grid;
    justify-content: center;
    width: 100%;
}
.userForgotPassword__button>button{
    background-color: rgb(187, 9, 9);
    color: white;
    width: 200px;
    height: 37%;
    border-radius: 999px;
}

@media only screen and (min-width:1400px){
    .userForgotPassword__button>button{
        width: 200px;
        font-size: 16px;
        height: 37%;
        border-radius: 999px;
    }
}

@media only screen and (max-width:350px){
    .userForgotPassword__input > input{
        padding-left: 2.2rem;
    }   
}