.vipChefHome__container{
    border: 1px solid rgb(236, 236, 236);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: inset 1px 3px 3px 0 grey;
    display: grid;
    grid-template-columns: 3fr;
}

.vipChefHome__container__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.vipChefHome__container__location{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.location__city,.location__country,
.icon,.text{
    font-size: 14px;
}
.icon{
    width: 15px;
    height: 15px;
}

.location__country,.location__city{
    color: gray;
}

.vipChefHome__profile{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.vipChefHome__profile >img{
    width: 100%;
    border-radius: 16px;
    margin: 0 auto;
}
.vipChefHome__quotes{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 3%;
    margin-bottom: 4%;
    margin-top: 2%;
}
.vipChefHome__quotes > p{
    display: grid;
    grid-template-columns: 1fr;
}
@media only screen and (min-width:1290px) and (max-width:1921px){
    
}
@media only screen and (max-width:1040px){
    .vipChefHome__quotes > p,.text,.location__city,.location__country{
        font-size: 12px !important;
    }
}
