.mainFeedFilters3{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.mainFeedFilters3__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mainFeedFilters3__image{
    margin-right: 2%;

    display: flex;
    justify-content: flex-end;
}
.mainFeedFilters3__image>.cart{
    width: 30px;
    height: 30px;
    position: relative;
}
.mainFeedFilters3__image>span{
    position: absolute;
    margin-right: 8px;
    margin-top: 6px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.activefilter32{
    border-bottom: 3.5px solid #3f8f22 !important;
}
.mainFeedFilter3__food,.mainFeedFilter3__service{
    color: gray;
    font-weight: 700 !important;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:424px){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size: 16px ;
    }
    .mainFeedFilters3{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
}
@media only screen and (max-width:361px){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size: 12px ;
    }
    .mainFeedFilters3{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }
}
@media only screen 
and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size: 24px ;
    }
    .mainFeedFilters3__image > img{
        width: 36px !important;
        height: 36px !important;
    }
    .mainFeedFilters3__image > span{
        font-size: 16px;
        margin-right: 10px;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size:30px ;
    }
    .mainFeedFilters3__image > img{
        width: 40px !important;
        height: 40px !important;
    }
    .mainFeedFilters3__image > span{
        font-size: 18px;
        margin-right: 10px;
        margin-top: 10px;
    }
  }
  
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size:46px !important;
    }
    .mainFeedFilters3__image > img{
        width: 62px !important;
        height: 62px !important;
    }
    .mainFeedFilters3__image > span{
        font-size: 28px;
        margin-right: 17px;
        margin-top: 10px;
    }
  }
@media only screen and (min-width:1400px) and (max-width:1921px){
    .mainFeedFilter3__food,
    .mainFeedFilter3__service{
        font-size: 28px;
    }
}