.userResetPassword{
    background: linear-gradient(184deg, white, #464040 92%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userResetPassword__container{
    border-radius: 24px;
    width: 400px;
    background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.userResetPassword__header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    
}
.userResetPassword__header > img {
    width: 30px;
    height: 20px;

}
.userResetPassword__header > h4{
    display: flex;
    justify-content: center;
}
.userResetPassword__input{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    float: right;
    align-items: flex-end;
}
.userResetPassword__input > h5{
    display: flex;
    align-items: flex-start;
    width: 92%;
}
.userResetPassword__input > input{
    width: 94%;
  padding: 0;
  margin-top: 1%;
  border: none;
  height: 2.6em;
  outline: none;
  font-size: 1em;
  margin-right: 1px;
  box-shadow:  0 2px 6px 0 gray;
  border: 1px solid silver;
  border-radius: 999px 0 0 999px;
  outline: none;
  background-image: url("../../assets/svg/Password-icon.svg");
  background-position: 4%;
  padding-left: 12%;
  background-repeat: no-repeat;
  background-size: 16px;
}
.userResetPassword__input2{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}
.userResetPassword__input2 > h5{
    display: flex;
    align-items: flex-start;
    width: 92%;
    margin-left: 3%;
}
.userResetPassword__input2 > input{
    width: 94%;
  padding: 0;
  margin-top: 1%;
  border: none;
  height: 2.6em;
  outline: none;
  font-size: 1em;
  margin-right: 1px;
  box-shadow:  0 2px 6px 0 gray;
  border: 1px solid silver;
  border-radius:0px 999px 999px 0px;
  outline: none;
  background-image: url("../../assets/svg/Password-icon.svg");
  background-position: 4%;
  padding-left: 12%;
  background-repeat: no-repeat;
  background-size: 16px;
}

.userResetPassword__button{
    display: grid;
    justify-content: center;
    margin-top: 5%;
}
.userResetPassword__button>button{
    background-color: rgb(187, 9, 9);
    color: white;
    height: 37%;
    border-radius: 999px;
}

@media only screen and (min-width:1400px){
    .userResetPassword__button>button{
        width: 200px;
        height: 35%;
    }
    .userResetPassword__container{
        height: 50%;
        width: 550px;
    }
    .userResetPassword__header > h4{
        font-size: 22px;
    }
    .userResetPassword__input >h5,
    .userResetPassword__input2>h5{
        font-size: 22px;
    }
    .userResetPassword__input > input,
    .userResetPassword__input2>input{
        font-size: 22px;
        background-size: 22px;
    }
    
}
@media only screen and (min-width: 768px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait){
    .userResetPassword__container{
        height: 50%;
        width: 500px;
    }
    .userResetPassword__header > h4{
        font-size: 20px;
    }
    .userResetPassword__input >h5,
    .userResetPassword__input2>h5{
        font-size: 20px;
    }
    .userResetPassword__input > input,
    .userResetPassword__input2>input{
        font-size: 20px;
        background-size: 20px;
    }
    .userResetPassword__button > button{
        width: 200px;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait){
    .userResetPassword__container{
        height: 50%;
        width: 550px;
    }
    .userResetPassword__header > h4{
        font-size: 22px;
    }
    .userResetPassword__input >h5,
    .userResetPassword__input2>h5{
        font-size: 22px;
    }
    .userResetPassword__input > input,
    .userResetPassword__input2>input{
        font-size: 22px;
        background-size: 22px;
    }
    .userResetPassword__button > button{
        width: 200px;
        font-size: 20px;
    }
}

@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .userResetPassword__container{
        height: 40%;
        width: 850px;
    }
    .userResetPassword__header > h4{
        font-size: 42px;
    }
    .userResetPassword__input >h5,
    .userResetPassword__input2>h5{
        font-size: 36px;
    }
    .userResetPassword__input > input,
    .userResetPassword__input2>input{
        font-size: 34px;
        background-size: 34px;
        padding-left: 15%;
    }
    .userResetPassword__button > button{
        width: 300px;
        font-size: 29px;
    }
}