.userSignin{
  background: linear-gradient(184deg, white, #464040 92%);
    height: 100% ;
    width: 100% ;
    display: flex;
    align-items: center;
}

.userSignin__signin {
  background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 510px;
  width: 400px ;

  border-radius: 60px;
  
}
.activesignin {
  border-bottom: 2px solid #3f8f22;
  cursor: pointer;
}

.flex-column-usersignin {
  display: flex;
  flex-direction: column;
}

.i__am__chef__button {
  height: 60px;
}

.i__am__chef__button > .userSignin__top {
  background-color: #3f8f22 !important;
  margin-top: 5%;
  margin-right: 5%;
  cursor: pointer;
  float: right;
  border-radius: 999px;
  padding-left: 5%;
  padding-right: 5%;
  width: 32%;
  height: 30px;
  color: white !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userSignin__top > h5{
  font-size: 11px;
 
}
.right__icon__signin {
  color: #ffcf54 !important;
  margin-top: 1px;
  margin-right: -17%;
  width: 70%;
  
}
.sign-in-up-signin {
  margin-top: 20px !important;
  height: 50px;
  margin-left: 7%;
  display: flex;
  align-items: center;
}
.sign-in-h2-signin {
  margin-left: 3%;
  cursor: pointer;
  height: 20px;
}
.signup-button,.signin-button{
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.user__email__signin {
  width: 41px !important;
  height: 41px !important;
  margin-right: 1%;
}

.form-usersignin {
  margin-top: 0.7em !important;
  margin-bottom: 1em;
}

.email-div-signin > label > strong {
  font-size: 16px;
}

.form-usersignin input {
  width: 94%;
  padding: 0;
  margin-top: 1%;
  border: none;
  height: 3.3em;
  outline: none;
  font-size: 1em;
  margin-right: 1px;
  box-shadow: 0 2px 6px 0 gray;
  border: 1px solid silver;
}

.email-div-signin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.email-div-signin label {
  margin-right: auto;
  margin-left: 2.5em;
}
.email-div-signin input {
  background-image: url('../../assets/svg/Email-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position-x: 1em;
  background-position-y: center;
  padding-left: 5em;
  border-radius: 30px 0 0 30px;
}

.password-div-signin {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.password-div-signin label {
  margin-right: auto;
  margin-left: 1em;
}
.password-div-signin input {
  background-image: url('../../assets/svg/Password-icon.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 1em;
  background-position-y: center;
  padding-left: 5em;
  border-radius: 0 30px 30px 0;
}
.password-div-pass-signin {
  width: 100%;
  position: relative;
  display: inline-block;
}

.show {
  background-image: url("../../assets/svg/Show-password-icon.svg");
  background-size: 25px !important;
  margin-top: 1rem !important;
}
.hide {
  background-image: url("../../assets/svg/hide\ -password-\ icon.svg");
  background-size: 25px !important;
  margin-top: 0.8rem !important;
}

.tooglePassword {
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  margin-top: 3%;
  margin-left: -24%;
  cursor: pointer;
}
.keep-me-sign-in-and-submit-signin {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}
.keep-me-sign-in-signin {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
  margin-left: 1em;
  margin-right: 5%;
  
}

.keep-me-sign-in-signin > input {
  height: 1.5em;
  width: 1.5em;
  box-shadow: none !important;
  
}
.keep-me-sign-in-signin span {
  width: 100%;
  padding-left: 1em;
  font-size: 14px;
  color: white;
  
}
.continue-signin {
  background-color: #b62414;
  color: white;
  font-size: 0.7em;
  font-family: "Montserrat";
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 2em;
  cursor: pointer;
}
.sign-in-with-google-and-forget-password-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 0 2em;
}
.sign-in-with-social-media-signin {
  width: 50%;
  display: flex;
}
.pd-1 {
  padding: 0 5px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.forgot-password-signin {
  color: #ffcf54;
  cursor: pointer;
}
.forgot-password-signin > p {
  font-size: 14px;
  font-weight: 700;
}

.Privicy-instructions-signin {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.7em;
  font-size: 14px;
}

.fb-blue {
  fill: #475993 !important;
}

.clickable-signin {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1040px) {
  .userSignin__top > h5{
    font-size: 10px !important;
  }
  .userSignin__signin {
    width: 36%;
  }
  .forgot-password-signin > p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 965px) {
  .userSignin__signin {
    width: 40%;
  }
}
@media only screen and (max-width: 867px) {
  .userSignin__signin {
    width: 46%;
  }
}
@media only screen and (max-width: 756px) {
  .userSignin__signin {
    width: 52%;
  }

}

@media only screen and (max-width: 685px) {
  .userSignin__signin {
    width: 59%;
  }
}
@media only screen and (max-width: 604px) {
  .userSignin__signin {
    width: 67%;
  }
}
@media only screen and (max-width: 536px) {
  .userSignin__signin {
    width: 77%;
  }

}

@media only screen and (max-width: 468px) {
  .userSignin__signin {
    width: 90%;
  }
}
@media only screen and (max-width: 402px) {
  .userSignin__signin {
    width: 99%;
  }
}
@media only screen and (max-width: 367px) {
  .i__am__chef__button > .userSignin__top{
      width: 37%;
      margin-right: 8%;
  }
  .sign-in-h2-signin,.email-div-signin > label > strong,
  .password-div-signin > label > strong{
    font-size: 14px;
  }
  .keep-me-sign-in-signin > span > strong{
    font-size: 12px;
  }
  .pd-1{
    width: 36px;
    height: 36px;
  }
  .forgot-password-signin > p{
    font-size: 10px;
  }
  .Privicy-instructions-signin{
    font-size: 12px;
  }
}
@media only screen and (max-width: 326px){
  .keep-me-sign-in-signin > span > strong{
    font-size: 10px;
  }
  .pd-1{
    width: 34px;
    height: 34px;
  }
  .i__am__chef__button > .userSignin__top{
    width: 40%;
    margin-right: 8%;
}
}

