.mainSettingsProfile__heading{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-left: 3%;
}
.mainSettingsProfile__heading>h4{
    font-size: 20px;
}
.mainSettingsProfile__heading >img {
    width: 25px;
    height: 25px;
}
.mainSettingsProfile__picture{
    margin-top: 4%;
}
.mainSettingsProfile__picture >img{
    height: 250px;
    width: 100%;
    position: relative;
    
}
.mainSettingsProfile__bannerIcons{
    display: flex;
    align-items:center ;
}
.mainSettingsProfile__bannerIcons > .mainSettingsProfile__avatar{
    width: 80px;
    height: 80px;
    margin-left: 4%;
    position: absolute;
    top: 300px;
}
.mainSettingsProfile__bannerIcons > img{
    width: 30px;
    height: 30px;
    right:18rem;
    margin-right: 4%;
    position: absolute;
    top: 350px;
    
}
.mainSettingsProfile__picture1{
    margin-top: 4%;
}
.mainSettingsProfile__picture1 > .mainSettingsProfile__avatar{
    width: 80px;
    height: 80px;
    margin-left: 4%;
}
.mainSettingsProfile__name{
    display: flex;
    margin-top: 3%;
    align-items: center;
    margin-left: 4%;
}
.mainSettingsProfile__name >h4{
    margin-left: 4%;
}
.mainSettingsProfile__name > img{
    width: 25px;
    height: 25px;
}
