.userOtp{
    display:grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    background: linear-gradient(184deg, white, #464040 92%);
}
.userOtp__container{
background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");

  background-position: center;
  display:grid;
  width: 400px;
    place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 500px;
  border-radius: 60px;
  
}

.userOtp__container > button{
  border-radius: 999px;
  background-color: #bf2612;
  color: white;
  font-family: 'Montserrat','sans-serif';
  font-weight: bold;
  text-transform: none;
  width: 45%;
  box-shadow: -5px 1px 6px rgba(0, 0, 0, 0.267);
}
.userOtp__input{
    display: flex;
    border:1px solid white;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.335);
    border-radius: 999px;
    width: 80%;
    margin: 0 auto;
    height: 8vh;
    padding-left: 5%;
    padding-bottom: 3%;
    position: relative;
}
.userOtp__input > input{
    outline: none;
    width: 30px;
    border: none;
    padding-left: 8%;
    padding-top: 5%;
}
.userOtp__input > input::-webkit-outer-spin-button,
.userOtp__input > input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.userOtp__input > .input8{
  padding-left: 5.5%;
  letter-spacing: 28px;
  border: 0;
  margin-left: 3%;
  background-image: linear-gradient(to left, grey 50%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 35px 1px;
  background-repeat: repeat-x;
  background-position-x: 30px;
  width: 210px;
  outline: none;
}
.userOtp__input > input{
padding-left: 10%;
}

.verify-otp{
  font-size: 22px;
  margin-top: 4%;

}
.userOtp__container > h3{
  color: white;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.89);
}
.userOtp__container > h4{
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.37);
}


.userOtp__input > button{
  position: absolute;
    background-color: #469a21;
    border-radius:32px 38px 38px 25px;
    right: -1px;
    font-family: 'Montserrat','sans-serif';
    font-weight: bold;
    top: -2px;
    height: 8.2vh;
    color: white;
    box-shadow: -5px 3px 6px rgba(0, 0, 0, 0.26);
    width: 21%;
}


@media only screen and (max-width:500px){
  .userOtp{
    width: 100%;
  }
}

@media only screen and (max-width:420px){
  .userOtp__container
  {
    width: 350px;
  }
  .userOtp__input > .input8{
    background-size: 32px 0.5px;
    width: 192px;
    padding-left: 7%;
    letter-spacing: 24.5px;
    margin-left: 0%;
  }
  
}
@media only screen and (max-width:370px){
  .userOtp__container
  {
    width: 320px;
    height: 70%;
  }
  .userOtp__input > .input8{
    padding-left: 15px;
    letter-spacing: 21px;
    border: 0;
    background-image: linear-gradient(to left, gray 60%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 28px 1px;
    background-repeat: repeat-x;
    background-position-x: 28px;
    width: 168px;
    outline: none;
    margin-left: 0;
  }
  .userOtp__input > button{
    top: -1.2px;
  }

}

@media only screen and (max-width:340px){
  .userOtp__container
  {
    width: 290px;
    height: 68%;
  }

  .userOtp__input > button{
    top: -1.2px;
    height: 8.2vh;

  }
  .userOtp__container > button{
    width: 60%;
  }
  .userOtp__input > .input8{
    padding-left: 6.9%;
    letter-spacing: 17px;
    border: 0;
    background-image: linear-gradient(to left, gray 68%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 25px 1px;
    background-repeat: repeat-x;
    background-position-x: 25px;
    width: 150px;
    outline: none;
  }

}

@media only screen and (max-width:310px){
  .userOtp__container
  {
    width: 270px;
    height: 68%;
  }

  .userOtp__input > button{
    top: -1.2px;
  }
  .userOtp__input > .input8{
    padding-left: 5.9%;
    letter-spacing: 14.5px;
    border: 0;
    background-image: linear-gradient(to left, gray 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 22px 1px;
    background-repeat: repeat-x;
    background-position-x: 22px;
    width: 132px;
    outline: none;
  }
}

@media only screen and (max-width:300px){
  .userOtp__container
  {
    width: 250px;
    height: 65%;
  }
  .userOtp__input{
    width: 90%;
  }

  .userOtp__input > .input8{
    padding-left: 5.9%;
    letter-spacing: 15px;
    border: 0;
    background-image: linear-gradient(to left, gray 68%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 23px 1px;
    background-repeat: repeat-x;
    background-position-x: 23px;
    width: 138px;
    outline: none;
  }
}
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .userOtp__input{
      height: 6vh;
    }
    .userOtp__input > button{
      height: 6.2vh;
    }
  }
  @media only screen and (min-width:1400px) {
    .userOtp__input{
      height: 5vh;
    }
    .userOtp__input > button{
      height: 5.2vh;
    } 
  }  
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .userOtp__input{
      height: 5vh;
    }
    .userOtp__input > button{
      height: 5.2vh;
    }  
  }

  @media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .userOtp__input{
      height: 5vh;
      font-size: 32px;
    }
    .userOtp__input > button{
      height: 5.2vh;
      font-size: 38px;
    } 
    .userOtp__container{
      height: 800px;
      width: 800px;
    }
    .userOtp__container > .verify-otp{
      font-size: 56px !important;
    }
    .userOtp__container > h3 ,
    .userOtp__container > h4{
      font-size: 44px;
    }
    .userOtp__container > button{
      height: 4vh;
      font-size: 34px;
    }
    .userOtp__input > .input8{
      padding-left: 8%;
      letter-spacing: 52px;
      border: 0;
      background-image: linear-gradient(to left, black 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 70px 1px;
      background-repeat: repeat-x;
      background-position-x: 70px;
      width: 420px;
      outline: none;
      font-size: 32px;
    }
  }
