.userOtp{
    display:grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    background: linear-gradient(184deg, white, #464040 92%);
}
.userOtp__container{
background-image: url("../../assets/backgroundImages/Login-in-pop-up.png");

  background-position: center;
  display:grid;
  width: 400px;
    place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 80%;
  border-radius: 60px;
  
}

.userOtp__container > button{
  border-radius: 999px;
  background-color: brown;
  color: white;
  width: 40%;
}
.userOtp__input{
    display: flex;
    border:1px solid;
    background-color: white;
    border-radius: 999px;
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    padding-bottom: 3%;
    position: relative;
}
.userOtp__input > input{
    outline: none;
    width: 30px;
    border: none;
    padding-left: 4%;
    padding-top: 5%;
}
.userOtp__input > input::-webkit-outer-spin-button,
.userOtp__input > input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.userOtp__input > .input1,
.userOtp__input > .input2,
.userOtp__input > .input3,
.userOtp__input > .input4,
.userOtp__input > .input5,
.userOtp__input > .input6{
    border-bottom: 2px solid;
    margin: 1%;
}

.userOtp__input > button{
  position: absolute;
    background-color: #3f8f22;
    border-radius:999px;
    right: 0;
    top: 6px;
    color: white;
}


@media only screen and (max-width:500px){
  .userOtp{
    width: 100%;
  }
}

@media only screen and (max-width:420px){
  .userOtp__container
  {
    width: 350px;
  }
}
@media only screen and (max-width:370px){
  .userOtp__container
  {
    width: 320px;
    height: 70%;
  }

  .userOtp__input > button{
    top: 4px;
  }
}

@media only screen and (max-width:340px){
  .userOtp__container
  {
    width: 290px;
    height: 68%;
  }

  .userOtp__input > button{
    top: 3px;
  }
  .userOtp__input > input{
    width: 25px;
  }
  .userOtp__container > button{
    font-size: 12px;
  }
}

@media only screen and (max-width:310px){
  .userOtp__container
  {
    width: 270px;
    height: 68%;
  }

  .userOtp__input > button{
    top: 2px;
  }
  .userOtp__input > input{
    width: 20px;
  }
}

@media only screen and (max-width:310px){
  .userOtp__container
  {
    width: 250px;
    height: 65%;
  }

  .userOtp__input > button{
    top: 1px;
  }
  .userOtp__input > input{
    width: 20px;
  }
}
