.mainShopFood__header{
    display: grid;
    grid-template-columns: 1fr 12fr;
    margin-top: 3%;
}
.mainShopFood__name{
    margin-left: 1%;
}
.mainShopFood__post{
    position: relative;
}
.postimage2{
    height: 70%;
    margin-top: 1%;
    border-radius: 2px;
}
.mainShopFood__avatar{
    width: 50px !important;
    height: 50px !important;
}
.name__top{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.name__top >h3{
    font-size: 16px;
}

.location__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -3.5%;
}
.location > h4{
    font-size: 12px;
    color: gray;
}
.delivery{
    margin-top: 2.5%;
    color: gray;
    font-style: italic;
}
.delivery >p{
    font-weight: 800 !important;
}
.likeIcon{
    width: 22px;
    height: 22px;
}
.commentIcon{
    width: 22px;
    height: 22px;
}
.mainShopFood__post > .addCart{
    position: absolute;
    width: 35px;
    height: 35px;
    bottom:2%;
    margin-left: -2.7rem;
    
}
.mainShopFood__Bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
}
.recipe__data{
    display: flex;
}
.recipe__price{
    margin-left: 2rem;
}
.recipe__name > p{
    margin-top: 0.6rem;
    color: gray;
}
.mainShopfood__actions{
    display: flex;
    margin-right: 2%;
}
.like__post{
    margin-right: 1.3rem;
}
.mainShopFood__para{
    margin-top: 2%;
    margin-right: 2rem;
    margin-left: 1%;
}
.bottom__line{
    margin-bottom: 3%;
}

@media only screen and (max-width:604px){
    .mainShopFood{
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:510px){
    .location{
        margin-top: 3%;
    }
}
@media only screen and (max-width:350px){
    .recipe__data > h4{
        font-size: 14px;
    }
    .likeIcon{
        width: 20px;
        height: 20px;
    }
    .commentIcon{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width:300px){
    .recipe__data > h4{
        font-size: 12px;
    }
    .likeIcon{
        width: 16px;
        height: 16px;
    }
    .commentIcon{
        width: 16px;
        height: 16px;
    }
    .like__post > p,.comment__post>p{
        font-size: 10px;
    }
}