.messagesentmodal1{
    width: 25%;
    height: 30%;
    display: grid;
    place-items: center;
    margin-left: 38%;
    margin-top: 13rem;
    border-radius: 16px;
    border: 1px solid white;
    box-shadow: 1px 1px 6px 0px grey;
    background-color: white;
    outline: none;
}

.message-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.message-top{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
.message-top>h4{
    font-size: 22px;
}
.message-center{
    display: grid;
    width: 100%;
    place-items: center;
    margin-top: 5%;
}
.message-center > img {
    width: 40px;
    height: 40px;
}
.message-bottom{
    margin-top: 2rem;
}
.message-bottom>h5{
    text-align: center;
}



