.mainCommentArea__header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-top: 3%;
}
.mainCommentArea__topArea{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.mainCommentArea__topArea>img{
    width: 20px;
    height: 20px;
}
.mainCommentArea__username{
    display: flex;
    justify-content: space-between;
}
.mainCommentArea__header > .mainCommentArea__avatar{
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.mainCommentArea__user{
    margin-left: 1%;
}
.mainCommentArea__user > h3{
    font-size: 17px;
}
.mainCommentArea__user>h4{
    font-size: 14px;
    color: silver;
    font-weight: 400 !important;
}
.mainCommentArea__horiz{
    margin-left: 3.5rem;
    cursor: pointer;
}
.mainCommentArea__timer{
    display: flex;
    align-items: center;
} 
.query-builder{
    font-size: 12px !important;
}
.mainCommentArea__image{
    margin-top: 1%;
}
.mainCommentArea__actions{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.mainCommentArea__like > img{
    width: 22px;
    height: 22px;
}
.mainCommentArea__comment>img,
.mainCommentArea__share>img{
    width: 20.7px;
    height: 20.7px;
}
.mainCommentArea__actionLeft{
    display: flex;
    margin-left: 1%;
}
.mainCommentArea__actionRight{
    margin-right: 1%;
}
.mainCommentArea__comment{
    margin-left: 1.5rem;
    cursor: pointer;
}
.mainCommentArea__border {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
.mainCommentArea__commentsArea{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    margin-top: 1%;
}
.mainCommentArea__reply > img,
.heart-container >img{
    width: 20px;
    height: 20px;
}
.mainCommentArea__commentName > h5{
    margin-bottom: 1rem;
}
.mainCommentArea__status{
    margin-top: 2%;
}
.mainCommentArea__commentLikes{
    display: flex;
    flex-direction: column;
    margin-bottom: -1rem;
    margin-top: 0.5rem;
}
.mainCommentArea__text{
    margin-top: 2.5rem;
}

.heart-container{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px 0px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mainCommentArea__input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    bottom: 70px;
    width: 93%;
    align-items: center;
}
.mainCommentArea__input >input {
    border-radius: 999px;
    height: 40px;
    border: 1px solid;
    padding-left: 3%;
    width: 100%;
    outline: none;
}
.comment-push{
    border: 1px solid #469a09;
    color: white !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    margin-left: 1%;
    background-color: #469a09;
    cursor: pointer;
}

@media only screen and (max-width:1000px){
    .mainCommentArea__input{
       
        bottom: 90px;
        left: 23%;
        
    }
}

@media only screen and (max-width:604px){
    .mainCommentArea__input{
       width: 100%;
       bottom: 68px;
    }
    .mainCommentArea__commentsArea{
        margin-left: 1%;
    }

    .mainCommentArea__header{
        margin-left: 1%;
        margin-right: 1%;
    }
    .mainCommentArea__user>h3{
        font-size: 14px;
    }
    .mainCommentArea__user >h4{
        margin-top: 0.6rem;
        font-size: 12px;
    }
}

@media only screen and (max-width:441px){
    .mainCommentArea__commentsArea{
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    
    .mainCommentArea__reply > p{
        font-size: 10px !important;
    }
    .mainCommentArea__commentLikes >p{
        font-size: 8px !important;
    }
}
