.mainChefProfileArea{
    padding-bottom: 8rem;
}
.mainChefProfileArea__heading{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    border: 1px solid;
    color: white;
    background-color: #3d3838;
    height: 7vh;
    border-radius: 999px 999px 999px 0px;
}
.mainChefProfileArea__slider{
    margin-bottom: 5%;
    position: relative;
}
.MuiSlider-thumb{
    display: none !important;
}
.MuiSlider-root{
    color: #3f8f22 !important;
}
.MuiSlider-rail,.MuiSlider-track{
    height: 5px !important;
    border-radius: 999px !important;
}
.profile-chef-info{
    position: absolute;
    left: 45%;
    top: -1rem;
}
.profile-personal-info{
    position: absolute;
    left: 1%;
    top: -1rem;
}
.profile-service-info{
    position: absolute;
    right: 1%;
    top: -1rem;
}

.mainChefProfileArea__top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainChefProfileArea__top > img{
    width: 100px;
    height: 100px;
}
.mainChefProfileArea__namearea{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.mainChefProfileArea__topLeft{
    margin-right: 1%;
    width: 100%;
}
.mainChefProfileArea__topRight{
    margin-left: 1%;
    width: 100%;
}
.mainChefProfileArea__nickname{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
}
.mainChefProfileArea__user{
    width: 100%;
    margin-right: 1%;
}
.mainChefProfileArea__gender{
    width: 100%;
    margin-left: 1%;
    
}
.mainChefProfileArea__dobinput{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mainChefProfileArea__date,
.mainChefProfileArea__year{
    width: 100%;
}
.mainChefProfileArea__month{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}
.mainChefProfileArea__phoneNumber{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.PhoneInput{
    border: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    border-radius: 8px;
    padding-left: 3%;
    outline: none;
    width: 100%;
    height: 7vh;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.PhoneInput > input{
    border: 1px solid white;
    padding-left: 3%;
    outline: none;
}
.mainChefProfileArea__thumbsUp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.mainChefProfileArea>.Next__1 { 
    background-color: #3f8f22;
    color: white;
    font-weight: bold;
    width: 30%;
    margin-top: 3%;
    float: right;
    border-radius: 999px 0px 999px 999px;
}

.next-prev-button { 
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.next-prev-button > .button-back1{
    background-color: #3d3838;
    color: white;
    font-weight: bold;
    width: 30%;
    border-radius: 0 999px 999px 999px;
}
.next-prev-button > .button-next2{
    background-color: #3f8f22;
    color: white;
    font-weight: bold;
    width: 30%;
    border-radius: 999px 0px 999px 999px;
}

.mainChefProfileArea__topLeft > h5,
.mainChefProfileArea__user > h5,
.mainChefProfileArea__phone >h5,
.mainChefProfileArea__dob>h5,
.mainChefProfileArea__gender>h5,
.mainChefProfileArea__position>h5,
.mainChefProfileArea__language>h5,
.mainChefProfileArea__cuisine>h5,
.mainChefProfileArea__ad>h5,
.mainChefProfileArea__info>h5,
.mainChefProfileArea__location>h5,
.mainChefProfileArea__hours>h5,
.mainChefProfileArea__serve>h5,
.mainChefProfileArea__min>h5,
.mainChefProfileArea__range>h5,
.mainChefProfileArea__hourly>h5,
.mainChefProfileArea__access>h5,
.mainChefProfileArea__topRight > h5,
.mainChefProfileArea__areas > h5{
    margin-bottom: 1%;
    color: #57c409;
}
.mainChefProfileArea__areas{
    margin-top: 3%;
}
.mainChefProfileArea__topLeft > h5>span,
.mainChefProfileArea__topRight > h5 > span,
.mainChefProfileArea__user > h5>span,
.mainChefProfileArea__phone >h5>span,
.mainChefProfileArea__dob>h5>span,
.mainChefProfileArea__gender>h5>span,
.mainChefProfileArea__position>h5>span,
.mainChefProfileArea__language>h5>span,
.mainChefProfileArea__cuisine>h5>span,
.mainChefProfileArea__ad>h5>span,
.mainChefProfileArea__info>h5>span,
.mainChefProfileArea__location>h5>span,
.mainChefProfileArea__hours>h5>span,
.mainChefProfileArea__serve>h5>span,
.mainChefProfileArea__min>h5>span,
.mainChefProfileArea__range>h5>span,
.mainChefProfileArea__hourly>h5>span,
.mainChefProfileArea__access>h5>span{
    margin-left: 1%;
    color: red;
}
.mainChefProfileArea__topLeft > input,
.mainChefProfileArea__topRight > input,
.mainChefProfileArea__user>input,
.mainChefProfileArea__phone>input,
.mainChefProfileArea__gender>input,
.mainChefProfileArea__position>input,
.mainChefProfileArea__language>input,
.mainChefProfileArea__location>input,
.mainChefProfileArea__min>input,
.mainChefProfileArea__range>input,
.mainChefProfileArea__hourly>input,
.mainChefProfileArea__areas > input,
.mainChefProfileArea__year > input{
    border: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    border-radius: 8px;
    padding-left: 2%;
    outline: none;
    width: 100%;
    height: 7vh;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.mainChefProfileArea__date > select,
.mainChefProfileArea__month > select,
.mainChefProfileArea__position > select,
.mainChefProfileArea__cuisine>select{
    border: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    padding-left: 4%;
    color: gray;
    outline: none;
    cursor: pointer;
    padding-right: 4%;
    border-radius: 8px;
    width: 100%;
    height: 7vh;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
    -webkit-appearance: none;
    appearance: none;
}
.mainChefProfileArea__ad > textarea,
.mainChefProfileArea__info>textarea,
.mainChefProfileArea__access>textarea{
    outline: none;
    height: auto;
    resize: none;
    width: 100%;
    border-radius: 8px;
    overflow-y: hidden;
    border: 3px solid #d9d9d9;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    padding-left: 2%;
    padding-top: 1%;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.input__selected,.input__allTime{
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.mainChefProfileArea__payment >.input__easy__serve {
    margin-top: 4%;
    display: flex;
    align-items: center;
}

.mainChefProfileArea__payment >.input__easy__serve > input{
    width: 17px;
    height: 17px;
}
.mainChefProfileArea__payment >.input__easy__serve > label{
    margin-left: 3%;
}

.mainChefProfileArea__phone,
.mainChefProfileArea__dob,
.mainChefProfileArea__position,
.mainChefProfileArea__language,
.mainChefProfileArea__cuisine,
.mainChefProfileArea__ad,
.mainChefProfileArea__info,
.mainChefProfileArea__location,
.mainChefProfileArea__hours,
.mainChefProfileArea__serve,
.mainChefProfileArea__min,
.mainChefProfileArea__range,
.mainChefProfileArea__hourly,
.mainChefProfileArea__message,
.mainChefProfileArea__access,
.mainChefProfileArea__button{
    margin-top: 3%;
}
.mainChefProfileArea__message {
    display: flex;
    align-items: center;
}
.mainChefProfileArea__button{
    display: flex;
    justify-content: center;
}
.mainChefProfileArea__button{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.mainChefProfileArea__button > .button-back2{
    background-color: #3d3838;
    color: white;
    font-weight: bold;
    width: 30%;
    border-radius: 0 999px 999px 999px;
}
.mainChefProfileArea__button > .button-next3{
    background-color: #3f8f22;
    color: white;
    font-weight: bold;
    width: 30%;
    border-radius: 999px 0 999px 999px;
}
.mainChefProfileArea__button > button:hover{
    background-color: rgb(7, 211, 7);
}
.input__options__interests{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.input__interest{
    margin-top: 3%;
    display: flex;
    align-items: center;
}
.message__heading{
    margin-top: 3%;
}
.message__heading > h5{
    color: #57c409;
}
.input__interest > input{
    cursor: pointer;
}
.input__interest > label{
    margin-left: 3%;
    cursor: pointer;
}
.input__allTime{
    margin-left: 5%;
}
.mainChefProfileArea__phone>input::-webkit-outer-spin-button,
.mainChefProfileArea__phone>input::-webkit-inner-spin-button,
.inputThePrice>input::-webkit-outer-spin-button,
.inputThePrice>input::-webkit-inner-spin-button,
.inputThePrice1>input::-webkit-outer-spin-button,
.inputThePrice1>input::-webkit-inner-spin-button,
.inputThePrice2>input::-webkit-outer-spin-button,
.inputThePrice2>input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.mainChefProfileArea__location >input{
    background: url(../../assets/svg/Find-my-location.svg);
    background-position-x: 98%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 22px;
}
.sampleTestDiv,.sampleTestDiv1{
    display: flex;
    align-items: flex-end;
    margin-top: 1%;
}

.mainChefProfileArea__payment{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.headingsss{
    border-left: 3px solid #d9d9d9;
    border-right:1px solid #d9d9d9 ; 
    font-family: 'Montserrat','sans-serif';
    border-radius: 8px 0px 0px 8px;
    outline: none;
    width: 55px;
    height: 7vh;
    font-size: 20px;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headingsss1{
    border-left: 3px solid #d9d9d9;
    border-right:1px solid #d9d9d9 ; 
    font-family: 'Montserrat','sans-serif';
    border-radius: 8px 0px 0px 8px;
    outline: none;
    width: 105px;
    height: 7vh;
    font-size: 20px;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputThePrice >input,.inputThePrice2>input{
    border-right: 3px solid #d9d9d9;
    border-top:3px solid #d9d9d9 ;
    border-bottom: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    border-radius: 0 8px 8px 0px;
    padding-left: 2%;
    outline: none;
    width: 100%;
    height: 7vh;
    border: none;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.inputThePrice2>input{
    padding-left: 4%;
}
.inputThePrice,.inputThePrice1,.inputThePrice2{
    width: 100%;
}
.inputThePrice1>input{
    border-right: 3px solid #d9d9d9;
    border-top:3px solid #d9d9d9 ;
    border-bottom: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    border-radius: 0 0px 0px 0px;
    padding-left: 4%;
    outline: none;
    width: 100%;
    height: 7vh;
    border: none;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.mainChefProfileArea__message > img{
    width: 20px;
    height: 20px;
}
.mainChefProfileArea__message > p {
    margin-left: 1.5%;
}

@media only screen and (max-width:604px){
    .mainChefProfileArea{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:430px)
{
    .input__options__interests{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        align-items: center;
    }
}

@media only screen and (max-width:300px){
    .mainChefProfileArea__topLeft > h5,
.mainChefProfileArea__user > h5,
.mainChefProfileArea__phone >h5,
.mainChefProfileArea__date>h5,
.mainChefProfileArea__gender>h5,
.mainChefProfileArea__position>h5,
.mainChefProfileArea__language>h5,
.mainChefProfileArea__cuisine>h5,
.mainChefProfileArea__ad>h5,
.mainChefProfileArea__info>h5,
.mainChefProfileArea__location>h5,
.mainChefProfileArea__hours>h5,
.mainChefProfileArea__serve>h5,
.mainChefProfileArea__min>h5,
.mainChefProfileArea__range>h5,
.mainChefProfileArea__hourly>h5,
.mainChefProfileArea__access>h5,
.mainChefProfileArea__topRight > h5{
    font-size: 11px;
}
    .mainChefProfileArea__thumbsUp > .good__job__hand{
        width: 42px;
        height: 42px;
    }
    .input__interest > label{
        font-size: 13px;
    }
}