.mainOrderHistory__container{
    border: 2px solid white;
    margin-top: 3%;
    border-radius: 24px;
    box-shadow: 0px 1.5px 4px 0 rgb(214, 214, 214);
}
.mainOrderHistory__header{
    margin-top: 3%;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    align-items: center;
    border-radius: 8px;
    color: white;
    background-color: #3d3838;
}
.mainOrderHistory__item{
    margin-left: 2%;
}
.mainOrderHistory__bill{
    display: flex;
    align-items: center;
    margin-right: 15%;
}
.history-price{
    margin-right: 25%;
}
.mainOrderHistory__info{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    align-items: center;
}
.mainOrderHistory__itemTitle{
    margin-left: 2%;
}
.mainOrderHistory__itemBill{
    display: flex;
    align-items: center;
    margin-right: 17%;
}
.history-price3{
    margin-left:3%;
}
.history-price2{
    margin-right: 28%;
    margin-left: 4%;
}
.history-price1{
    margin-right: 35%;
}

.mainOrderHistory__sub{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin-top: 2%;
    margin-left: 21.5%;
}
.mainOrderHistory__subTotal{
    margin-left: 4.6%;

}
.mainOrderHistory__subTotal > h5{
    margin-top: 8.6%;
    color: #3d3838;
}

.mainOrderHistory__subTotalAmount > p{
    margin-top: 14%;
}
.history-amount{
    color: #4da302;
    font-weight: 700;
    font-size: 14px;
}
.history-text{
    font-weight: 700;
    font-size: 14px;
}

.mainOrderHistory__bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    align-items: center;
    margin-bottom: 3%;
}
.mainOrderHistory__days{
    display: flex;
    width: 50%;
    align-items: center;
}
.mainOrderHistory__days > h5{
    margin-left: 2rem;
    color: #3f8f22;
    font-weight: 800;
    font-size: 14px;
}
.mainOrderHistory__details{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}
.mainOrderHistory__details >h5{
    margin-right: 5%;
}

.mainOrderHistory__details >img{
    width: 15px;
    height: 15px;
}

@media only screen and (max-width:500px){
    .mainOrderHistory__bill{
        margin-right: 5rem;
    }

    .mainOrderHistory__itemBill{
        margin-right: 6rem;
    }
}

@media only screen and (max-width:375px){
    .mainOrderHistory__item{
        margin-right: 7%;
    }

    .mainOrderHistory__itemTitle{
        margin-right: 6%;
        margin-top: 10px;
    }
    .mainOrderHistory__sub{
        margin-left: 18%;
    }
    .mainOrderHistory__days >p{
        font-size: 10px;
    }
}
@media only screen and (max-width:300px){
    .mainOrderHistory__days >h5{
        font-size: 12px;
    }
    .mainOrderHistory__days {
        width: 60%;
    }
    .mainOrderHistory__days >p{
        font-size: 8px;
        width: 100%;
    }
}