.mainFeedFilters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap:1%;
    margin-top: 3%;
}
.feedss1{
    display: none;
}
.active2{
    border-bottom: 3.5px solid #3f8f22 !important;
    border-radius: 8px;
}
.activess3{
    border-bottom: 3.5px solid #3f8f22 !important;
    border-radius: 8px;
}
.recipess{
    margin-left: -1rem;
    color: gray;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.feedss{
    color: gray;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 80%;
    margin-left: 0.7rem;
}
.masterclass{
    color: gray;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-left: -1rem !important;
}


@media only screen and (max-width:424px){
    .mainFeedFilters > h3{
        font-size: 16px !important;
    }
}
@media only screen and (max-width:361px){
    .mainFeedFilters > h3{
        font-size: 12px !important;
    }
}
@media only screen 
and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters > h3{
        font-size: 28px !important;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters > h3{
        font-size:30px !important;
    }
  }
  @media only screen 
  and (min-width: 1366px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:landscape){
    .mainFeedFilters > .feedss,
    .mainFeedFilters > .masterclass,
    .mainFeedFilters > .recipess{
        font-size:24px !important;
    }
}
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters > h3{
        font-size:32px !important;
    }
  }
@media only screen and (min-width:1290px) and (max-width:1921px){
    .mainFeedFilters > h3{
        font-size: 34px !important;
    }
}
/*@media only screen and (max-width:865px){
    .feed{
        width: 85%;
    }
}
@media only screen and (max-width:700px){
    .mainFeedFilters > h3{
        font-size: 18px;
    }
}@media only screen and (max-width:400px){
    .mainFeedFilters > h3{
        font-size: 16px;
    }
}
@media only screen and (max-width:325px){
    .mainFeedFilters > h3{
        font-size: 13px;
    }
}
@media only screen and (max-width:300px){
    .mainFeedFilters > h3{
        font-size: 13px;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters > h3{
        font-size: 40px;
    }
  }
  @media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilters > h3{
        font-size: 32px;
    }
  }*/
