.mainCookLivePayment{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 24%;
}
.mainCookLivePayment__topArea{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.mainCookLivePayment__photo > .mainCookLivePayment__avatar{
    width: 50px;
    height: 50px;
}
.mainCookLivePayment__header{
    margin-top: 2%;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    align-items: center;
    border-radius: 8px;
    color: white;
    background-color: #3d3838;
}
.mainCookLivePayment__item{
    margin-left: 2%;
}
.mainCookLivePayment__bill{
    display: flex;
    align-items: center;
    margin-right: 15%;
}
.cook-price{
    margin-right: 25%;
}
.mainCookLivePayment__info{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    align-items: center;
}
.mainCookLivePayment__itemTitle{
    margin-left: 2%;
}
.mainCookLivePayment__itemBill{
    display: flex;
    align-items: center;
    margin-right: 17%;
}
.cook-price3{
    margin-left:3%;
}
.cook-price2{
    margin-right: 28%;
    margin-left: 4%;
}
.cook-price1{
    margin-right: 35%;
}

.mainCookLivePayment__subTotal{
    margin-top: 2%;
    text-align: right;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
}
.mainCookLivePayment__subTotal > h5 > span{
    margin-left: 1.8%;
}
.mainCookLivePayment__subTotal > h5{
    margin-right: 5.3%;
}
.mainCookLivePayment__day,
.mainCookLivePayment__time,
.mainCookLivePayment__note,
.mainCookLivePayment__method{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3%;
}
.mainCookLivePayment__day > h5,
.mainCookLivePayment__time>h5,
.mainCookLivePayment__note>h5,
.mainCookLivePayment__method>h5{
    margin-bottom: 1.5%;
}
.mainCookLivePayment__day > select,
.mainCookLivePayment__time>select{
    border: 3px solid #d9d9d9;
    font-family: 'Montserrat','sans-serif';
    padding-left: 1%;
    color: gray;
    outline: none;
    padding-right: 2%;
    border-radius: 8px;
    width: 100%;
    height: 7vh;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
    -webkit-appearance: none;
  appearance: none;
}
.mainCookLivePayment__note > textarea{
    outline: none;
    height: auto;
    resize: none;
    width: 100%;
    border-radius: 8px;
    overflow-y: hidden;
    border: 3px solid #d9d9d9;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    padding-left: 1%;
    padding-top: 1%;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
}
.mainCookLivePayment__methodText{
    width: 100%;
    border-radius: 8px;
    overflow-y: hidden;
    border: 3px solid #d9d9d9;
    height: 7vh;
    box-shadow: 1px 1px 6px 2px #d9d9d9;
    padding-left: 1%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat','sans-serif';
}
.mainCookLivePayment__methodText > p{
    font-size: 14px;
}
.mainCookLivePayment__button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: #3f8f22;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 999px 0 999px 999px;
}
.mainCookLivePayment__button > button{
    font-weight: 800;
    color: white;
}