.activesignup{
  border-bottom: 2px solid #3f8f22;
  cursor: pointer;
}

.signin-button,.signup-button{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.sign-in-up{
    display: flex;
    align-items: center !important;
}