.mainFeedFilter4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap:1%;
    margin-top: 4%;
}
.activefilter42{
    border-bottom: 3.5px solid #3f8f22 !important;
}
.mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
    color: gray;
    font-weight: 700 !important;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

@media only screen and (max-width:520px){
    .mainFeedFilter4{
        display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
    }
    .mainFeedFilter4__feed,
    .mainFeedFilter4__recipe,
    .mainFeedFilter4__foodservice,
    .mainFeedFilter4__purchases{
        font-size: 14px ;
    }
}

@media only screen and (max-width:424px){
    .mainFeedFilter4__feed,
    .mainFeedFilter4__recipe,
    .mainFeedFilter4__foodservice,
    .mainFeedFilter4__purchases{
        font-size: 14px ;
    }
}
@media only screen and (max-width:390px){
    .mainFeedFilter4__feed,
    .mainFeedFilter4__recipe,
    .mainFeedFilter4__foodservice,
    .mainFeedFilter4__purchases{
        font-size: 12px ;
    }
}
@media only screen and (max-width:320px){
    .mainFeedFilter4{
        display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    }
    .mainFeedFilter4__feed,
    .mainFeedFilter4__recipe,
    .mainFeedFilter4__foodservice,
    .mainFeedFilter4__purchases{
        font-size: 11px ;
    }
}
@media only screen 
and (min-width: 768px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
        font-size: 16px;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
        font-size:26px ;
    }
  }
  @media only screen 
  and (min-width: 1366px) 
  and (max-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:landscape){
    .mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
        font-size:17px ;
    }
}
@media only screen 
  and (min-width: 1668px) 
  and (max-height: 2388px) 
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation:portrait){
    .mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
        font-size:32px !important;
    }
  }
@media only screen and (min-width:1450px) and (max-width:1921px){
    .mainFeedFilter4__feed,.mainFeedFilter4__recipe,
.mainFeedFilter4__foodservice,.mainFeedFilter4__purchases{
        font-size: 23px;
    }
}